* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.recipe-container {
  margin-top: 20px;
  text-align: left;
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-instructions {
  margin-top: 10px;
  overflow: auto;
  height: 20rem;
  width: auto;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.recipe-image {
  max-width: 100%;
  border-radius: 99999px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.recipe-instruction-title {
  margin-top: 20px;
}

table,
th,
td {
  border: 2px solid black;
  padding: 4px;
}

table {
  border: 1px solid #dededf;
  height: auto;
  width: 80%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

#myTable {
  align-self: flex-start;
}

.flex-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

#resetButton {
  margin-top: 10px;
}
